<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
      </style>
    <link href="/css/main.css" rel="stylesheet" media="screen">

    {% seo %}

</head>

<body>

<article class="container">

    <header>
        <div class="row display-flex-center">

            <div class="col-12 col-sm-4">
                <a href="/" aria-label="Go back to start page">
                    <div id="portrait-jnk"></div>
                </a>
            </div>
            <div class="col-12 col-sm-8"><h1>Hi, I'm Jannik Weyrich.</h1>
                <p>Entrepreneur and business leader with a solid technical foundation, specializing in Product Management and Product Strategy. Currently, I work at <a href="http://www.brickmakers.de" target="_blank">BRICKMAKERS</a>. My academic background includes a Master of Science in Business and Computer Science from the <a href="http://www.uni-koblenz.de" target="_blank">University of Koblenz</a>, Germany. My interests span <a href="/#tech-i-use">technology</a>, business, geography, history, travel, and sports.</p>
            </div>
        </div>
    </header>

    {{ content }}

    <footer>
        <p>&copy; Jannik Weyrich 2013 - {{ site.time | date: '%Y' }} &sdot; <a href="/impressum.html">Impressum</a></p>
    </footer>

</article>

</body>
</html>
