<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Entrepreneur and coder. I studied at the University of Koblenz, Germany (MSc of Business and Computer Science). I'm interesed in technology, traveling, football and music">
    <meta name="author" content="">

    <title>{% if page.title %}{{ page.title }}{% else %}Jannik's personal Website{% endif %}</title>
    <link href="/css/main.css" rel="stylesheet" media="screen">

</head>

<body>

<article class="container">

    <header>
        <div class="row">

            <div class="col-12 col-sm-4">
                <a href="/">
                    <div id="portrait-jnk"></div>
                </a>
            </div>
            <div class="col-12 col-sm-8"><h1>Hi, I'm Jannik Weyrich.</h1>
                <p>Entrepreneur and coder. I work at <a href="http://www.brickmakers.de" target="_blank">BRICKMAKERS</a> as a mobile and web developer. 
                Studied at the <a href="http://www.uni-koblenz.de" target="_blank">University of Koblenz</a>, Germany (MSc of Business and Computer Science). 
                I'm interesed in <a href="/#tech-i-use">technology</a>, traveling, football and music</p></div>
        </div>
        
        <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-warning">
              <strong>Hey!</strong> We made a new app. Check it out! Thx Jannik  &#9654; <a href="http://instatransformation.com/?_s=jannikweyrich.com">Instatransformation</a>
            </div>
          </div>
        </div>
        
    </header>

    {{ content }}

    <footer>
        <p>&copy; Jannik Weyrich 2014 &sdot; <a href="/impressum.html">Impressum</a></p>
    </footer>

</article>

<script>
    var _gaq = [
        ['_setAccount', 'UA-43356314-1'],
        ['_anonymizeIp'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = '//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>

</body>
</html>
